.git
.github
.venv
.idea
.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
tests
dist
htmlcov
.coverage
.coverage.*
Makefile
.pylintrc
.editorconfig
docker-compose.yml
.env
.env.*
*.md
!README.md
LICENSE
